<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Deals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row">
            <div class="col-lg-3">

                <h1 class="my-4">JAS Shopping</h1>
                <div class="list-group">
                    <ul th:each="list : ${lists}">
                        <li><a  th:href="@{/}" th:text="${list.nom}"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>
